@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        body {
            background-image: url("https://i.postimg.cc/zDpkq99p/happy-chinese-new-year-background-with-chinese-lanterns-and-ornament-happy-new-year-backdrop-for-pos.jpg");
            background-repeat: no-repeat;
            font-family: 'Monomaniac One', cursive;
            font-size: 24px;
            font-weight: 400;
        }

        .box {
            text-align: center;
            margin-top: 25%;
        }

        span {
            color: #FFFAF4;
        }

        a {
            margin-top: 10px;
            display: block;
            color: #FFFAF4
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="box">
        <span>We're going to have an exciting party!<br></span>
        <a asp-action="RsvpForm">RSVP Now</a>
    </div>
</body>
</html>